<!-- main app container -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h3>Angular 6 Reactive Form Validation</h3>
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Name</label>
            <input type="text" formControlName="name" class="form-control" />
            <div *ngIf="f.name.touched && f.name.invalid" class="text-danger">
              <div *ngIf="f.name.errors.required">Name is required.</div>
              <div *ngIf="f.name.errors?.minlength">
                Minimum 4 chars are needed.
              </div>
            </div>
            <!-- <div
              *ngIf="f.name.touched && f.name.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.name.errors.required">Name is required</div>
              <div *ngIf="f.name.errors?.minlength">
                Minimum 4 chars are required
              </div>
            </div> -->
          </div>
          <div class="form-group">
            <label>Phone</label>
            <input
              type="text"
              formControlName="phone"
              class="form-control"
              [ngClass]="{ 'is-invalid': f.phone.touched && f.phone.errors }"
            />
            <div
              *ngIf="f.phone.touched && f.phone.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.phone.errors.required">
                Phone Number is required
              </div>
              <div *ngIf="f.phone.errors?.minlength">
                Minimum 10 character are required.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Email</label>
            <input
              type="text"
              formControlName="email"
              class="form-control"
              [ngClass]="{ 'is-invalid': f.email.touched && f.email.errors }"
            />
            <div
              *ngIf="f.email.touched && f.email.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.email.errors.required">Email is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Message</label>
            <input
              type="text"
              formControlName="message"
              class="form-control"
              [ngClass]="{
                'is-invalid': f.message.touched && f.message.errors
              }"
            />
            <div
              *ngIf="f.message.touched && f.message.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.message.errors.required">Message is Required</div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
