<!-- main app container -->
<div class="card m-3">
  <h5 class="card-header">Personal Details</h5>
  <div class="card-body">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" novalidate>
      <div formGroupName="personalData" novalidate>
        <div class="form-group col">
          <label>Email :</label>
          <input formControlName="email" />
        </div>
        <div class="form-group col">
          <label>Mobile :</label>
          <input formControlName="mobile" />
        </div>
        <div class="form-group col">
          <label>Country :</label>
          <select formControlName="country">
            <option *ngFor="let country of countries" [value]="country">
              {{ country }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group col">
        <label>Request Types :</label>
        <select formControlName="requestType">
          <option
            *ngFor="let requestType of requestTypes"
            [value]="requestType"
          >
            {{ requestType }}
          </option>
        </select>
      </div>
      <div class="form-group col">
        <label>Text</label>
        <input formControlName="text" />
      </div>
      <button type="submit" [disabled]="contactForm.pristine">Save</button>
      <button type="reset" (click)="revert()" [disabled]="contactForm.pristine">
        Revert
      </button>
    </form>
    <p>Form value: {{ contactForm.value | json }}</p>
  </div>
</div>
